<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.seckill_backend.mapper.FlashSaleMapper">

    <select id="getFlashSaleById" resultType="com.example.seckill_backend.model.FlashSale">
        SELECT * FROM flash_sale
        <where>
            <if test="flash_sale_id != null" >
                flash_sale_id = #{flash_sale_id}
            </if>
        </where>
    </select>

    <select id="getFlashSale" resultType="com.example.seckill_backend.model.FlashSale">
        SELECT * FROM flash_sale
        <where>
            <if test="flash_sale_id != null" >
                flash_sale_id = #{flashSale.flash_sale_id}
            </if>
            <if test="product_id != null" >
                AND product_id = #{flashSale.product_id}
            </if>
            <if test="status != null" >
                AND status = #{flashSale.status}
            </if>
        </where>
        limit #{page_size} offset #{offset}
    </select>

    <insert id="initializeFlashSale" keyProperty="flash_sale_id" useGeneratedKeys="true">
        INSERT INTO flash_sale( product_id, start_time, end_time, total_stock, flash_price)
        VALUES ( #{product_id}, #{start_time}, #{end_time}, #{total_stock}, #{flash_price})
    </insert>

    <update id="updateFlashSale">
        UPDATE flash_sale
        <set>
            <if test="total_stock != null">
                total_stock = #{total_stock},
            </if>
            <if test="flash_price != null">
                flash_price = #{flash_price},
            </if>
            <if test="status != null">
                status = #{status},
            </if>
            <if test="start_time != null">
                start_time = #{start_time},
            </if>
            <if test="end_time != null">
                end_time = #{end_time},
            </if>
            <if test="sold_count != null">
                sold_count = #{sold_count},
            </if>

        </set>
        WHERE flash_sale_id = #{flash_sale_id}
    </update>
    <select id="getFlashSaleLimit3" resultType="com.example.seckill_backend.model.FlashSale">
            SELECT * FROM flash_sale
            ORDER BY start_time DESC
            LIMIT 3
    </select>
    <select id="getFlashSaleProductLimit3" resultType="com.example.seckill_backend.model.FlashSaleView">
        SELECT * from flash_sale_view where status=1 order by start_time desc limit 3
    </select>
    <select id="getCountByName" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM flash_sale_view
        <where>
            <if test="product_name != null and product_name!=''">
                product_name LIKE CONCAT('%', #{product_name}, '%')
            </if>
        </where>
    </select>
    <select id="getByName" resultType="com.example.seckill_backend.model.FlashSaleView">
        SELECT * FROM flash_sale_view
        <where>
            <if test="product_name != null and product_name!=''">
                product_name LIKE CONCAT('%', #{product_name}, '%')
            </if>
        </where>
        limit #{page_size} offset #{offset}
    </select>

    <select id="decreaseStock" resultType="java.lang.Integer">
        UPDATE flash_sale
        SET  sold_count = sold_count + 1
        WHERE flash_sale_id = #{flash_sale_id} AND total_stock > 0
    </select>

    <select id="getCount" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM flash_sale_view
        <where>
            <if test="name != null and name!=''">
                product_name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
    </select>
    <select id="getFlashSaleView" resultType="com.example.seckill_backend.model.FlashSaleView">
        SELECT * FROM flash_sale_view
        <where>
            <if test="name != null and name!=''">
                product_name LIKE CONCAT('%', #{name}, '%')
            </if>
        </where>
        limit #{page_size} offset #{offset}
    </select>
    <select id="deleteFlashSale" resultType="java.lang.Integer">
        DELETE FROM flash_sale where flash_sale_id = #{flash_sale_id}
    </select>

    <select id="addRecord" resultType="java.lang.Integer">
        INSERT INTO flash_record(user_id, flash_sale_id)
        VALUES (#{user_id}, #{flash_sale_id})
    </select>

</mapper>